$rich-black: #08090a;
$lavender-blush: #efe6ed;
$grey-10: mix($rich-black, $lavender-blush, 10%);
$grey-20: mix($rich-black, $lavender-blush, 20%);
$grey-30: mix($rich-black, $lavender-blush, 30%);
$grey-40: mix($rich-black, $lavender-blush, 40%);
$grey-50: mix($rich-black, $lavender-blush, 50%);
$grey-60: mix($rich-black, $lavender-blush, 60%);
$grey-70: mix($rich-black, $lavender-blush, 70%);
$grey-80: mix($rich-black, $lavender-blush, 80%);
$grey-90: mix($rich-black, $lavender-blush, 90%);
$success: #92bfb1;
$error: #db324d;
$brand-gold: #806d40;
$brand-primary: #92bfb1;
