.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 60vh;
  background-color: $rich-black;
  color: $lavender-blush;
  padding: 10vh 30vw;
  .text-h1 {
    text-align: center;
  }
}
