.capture-header {
  text-align: center;
  background-color: $rich-black;
  padding: 3rem;
  .text-h1 {
    color: $lavender-blush;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  .text-h4 {
    color: $brand-gold;
  }
}
