.tooltip {
  text-align: center;
  margin: 2%;
  cursor: pointer;
  b {
    background-color: $grey-10;
    padding: 0.6em 2em;
    border-radius: 12px 0;
    color: $grey-50;
    .icon {
      vertical-align: middle;
      padding-right: 0.4em;
    }
    &:hover {
      color: $brand-gold;
      background-color: $rich-black;
    }
  }
}
